.ipynb_checkpoints/
ASSignment1.ipynb
3. Netflix (Harry).ipynb
3. Netflix (Old).ipynb
Submission/3. Netflix.ipynb
Submission/2. KMeans and 4. ANN.ipynb
Submission/1. PCA.ipynb
Submission.zip
Full submission.zip
